In [4]:
import pandas as pd

In [22]:
df = pd.read_csv('stackoverflow_74670372.csv')
df

               name       lat      long
0  Veronica Session  0.200081  0.246723
1     Lynne Donahoo  0.775020 -1.437292
2     Debbie Hanley  0.260559 -1.594263
3    Lisandra Earls  1.203430 -2.425601
4        Sybil Leef -0.029293  0.592702

In [6]:
def haversine(lat1, lon1, lat2, lon2, to_radians=True, earth_radius=6371):
    """
    slightly modified version: of http://stackoverflow.com/a/29546836/2901002

    Calculate the great circle distance between two points
    on the earth (specified in decimal degrees or in radians)

    All (lat, lon) coordinates must have numeric dtypes and be of equal length.

    """
    if to_radians:
        lat1, lon1, lat2, lon2 = np.radians([lat1, lon1, lat2, lon2])

    a = np.sin((lat2-lat1)/2.0)**2 + \
        np.cos(lat1) * np.cos(lat2) * np.sin((lon2-lon1)/2.0)**2

    return earth_radius * 2 * np.arcsin(np.sqrt(a))

In [25]:
df['dist'] = \
    haversine(df.lat.shift(), df.long.shift(),
                 df.loc[1:, 'lat'], df.loc[1:, 'long'])

NameError: name 'np' is not defined