In [30]:
import pandas as pd
import numpy as np

In [22]:
df = pd.read_csv('stackoverflow_74670372.csv')
df

               name       lat      long
0  Veronica Session  0.200081  0.246723
1     Lynne Donahoo  0.775020 -1.437292
2     Debbie Hanley  0.260559 -1.594263
3    Lisandra Earls  1.203430 -2.425601
4        Sybil Leef -0.029293  0.592702

In [32]:
def haversine(lat1, lon1, lat2, lon2, to_radians=True, earth_radius=6371):
    """
    slightly modified version: of http://stackoverflow.com/a/29546836/2901002

    Calculate the great circle distance between two points
    on the earth (specified in decimal degrees or in radians)

    All (lat, lon) coordinates must have numeric dtypes and be of equal length.

    """
    if to_radians:
        lat1, lon1, lat2, lon2 = np.radians([lat1, lon1, lat2, lon2])

    a = np.sin((lat2-lat1)/2.0)**2 + \
        np.cos(lat1) * np.cos(lat2) * np.sin((lon2-lon1)/2.0)**2

    return earth_radius * 2 * np.arcsin(np.sqrt(a))

In [39]:
df['dist'] = \
    haversine(df.lat.shift(), df.long.shift(),
                 df.loc[1:, 'lat'], df.loc[1:, 'long'], to_radians=False)
df

               name       lat      long          dist
0  Veronica Session  0.200081  0.246723           NaN
1     Lynne Donahoo  0.775020 -1.437292   9625.250626
2     Debbie Hanley  0.260559 -1.594263   3385.893020
3    Lisandra Earls  1.203430 -2.425601   6859.234096
4        Sybil Leef -0.029293  0.592702  12515.848878

In [40]:
df.to_csv()

',name,lat,long,dist\n0,Veronica Session,0.200081,0.246723,\n1,Lynne Donahoo,0.77502,-1.437292,9625.250626455025\n2,Debbie Hanley,0.260559,-1.594263,3385.89301956224\n3,Lisandra Earls,1.20343,-2.425601,6859.234096208778\n4,Sybil Leef,-0.029293,0.592702,12515.848878083767\n'